html,
body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  background-color: #f6f8f7;
  color: #000000;
}

input,
button {
  border: none;
}

.header {
  max-width: 800px;
  height: 80px;
  margin: auto;
  display: flex;
  padding: 30px 20px;
  align-items: baseline;
  justify-content: space-between;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 150px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.container {
  max-width: 800px;
  padding: 0 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__btn {
  font-size: 0.8em;
  width: 150px;
  height: 50px;
  color: #de1222;
  background-color: #ffdf0a;
  border-radius: 2px;
  cursor: pointer;
}

.header__btn:hover {
  background-color: #d5b900;
}

.table {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.table__col {
  padding: 5px;
  box-shadow: 0px 0px 0px 1px rgb(114, 114, 114);
}
