html,
body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  background-color: #fff;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

input,
button {
  border: none;
}

.header {
  max-width: 800px;
  /* height: 80px; */
  margin: auto;
  display: flex;
  padding: 0 20px;
  align-items: baseline;
  justify-content: space-between;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 160px;
  margin: auto;
  /* -webkit-filter: invert(1);
  filter: invert(1); */
}

.container {
  max-width: 800px;
  padding: 0 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__btn {
  font-size: 0.8em;
  width: 150px;
  height: 50px;
  color: #de1222;
  background-color: #ffdf0a;
  border-radius: 2px;
  cursor: pointer;
}

.header__btn:hover {
  background-color: #d5b900;
}

.table {
  margin-bottom: 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: solid gray 1px;
  border-radius: 15px;
}

.table__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  margin: auto;
}

.table__section_bottom {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}
.table__item h4 {
  font-size: 16px;
}
.table__item p {
  font-size: 14px;
  color: dimgray;
}

.table__item_bottom {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table__img {
  width: 40%;
  display: flex;
}

.nomenclature {
  text-align: center;
}

.card__foto {
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
}

/* .total {
  display: flex;
  gap: 3px;
  align-items: flex-end;
}

.total-title {
  font-size: 14px !important;
  margin-bottom: -2px;
} */

.total_foto {
  width: 25px;
}

@media (min-width: 768px) {
  .table__img {
    width: 150px;
    margin: 0;
  }
  .table__item h4 {
    font-size: 18px;
  }
  .table__item p {
    font-size: 16px;
  }
}
